* {
    box-sizing: border-box;
}

/*HEADER VITRINE*/
header #navbar {
    display: flex;
	max-width: auto;
justify-content: space-between;
	

  
    background-color:#CEA1A1;
}


#logo {
   width: 153px;
   height: 161px;
   margin-left: 118px;
}

#logo :hover {
    background-color:#711312;
    color:#CEA1A1;
}
#menu{

display: flex;
margin-top: 50px;

justify-content: space-between;




}
.nav {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
cursor: pointer;
    border-right: 2px solid #711312;
    
    height: 50px;
 
    color: #711312;
    font-size: 25px;
    padding-top : 10px;
    
}

#menu #contact {
    border: none;
}

#menu :hover{
    color:#CEA1A1;
background-color:#711312;
}
/* .nav :hover {
    color:#CEA1A1;
    background-color:#711312;
} */